@value vars "sourcegraph/components/styles/_vars.css";
@value base "sourcegraph/components/styles/_base.css";
@value colors "sourcegraph/components/styles/_colors.css";
@value layout "sourcegraph/components/styles/_layout.css";
@value typography "sourcegraph/components/styles/_typography.css";
@value GlobalNav "sourcegraph/app/styles/GlobalNav.css";

.diff-stat-scale {
	display: inline-block;
	composes: pl1 from base;
}
.stat-added {
	color: green;
}
.stat-deleted {
	color: red;
}
.stat-changed {
	color: orange;
}
.stat-filler {
	composes: ph1 from base;
}
